.article-cont{
    margin: 2rem 0;
}
.article-card {
  width: 18rem;
  height: fit-content;
  border: 2px solid #aca4a4;
  border-radius: 3px;
}

.article-desc{
    padding: 0 10px 10px 10px;
}

.article-desc>h2{
    color: #1FD6CA;
}

@media(max-width:980px){
    .article-card{
        width: 14rem;
    }
    .img-responsive{
        height: 8.75rem;
    }
    .article-cont>.container>.flex{
        justify-content: center;
    }
  }