* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gap-2 {
  gap: 3rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.img-responsive {
  width: 100%;
  height: 11.2rem;
  object-fit: contain;
}

/*
.logo{
  font-size: 2rem;
}

.nav-cont{
  background-color: rgb(7, 52, 22);
  padding: 7px;
}

.nav-link-cont{
  width: 40%;
}

.nav-item{
  color: aliceblue;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #21bdae;
} */

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}



.heading h2 {
  position: relative;
  font-size: 40px;
  color: #080808;
  text-align: center;
  text-transform: capitalize;
  font-size: 26px;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
  margin: 1.5rem 0;
}

.heading h2:after,
.heading h2:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
}


.header {
  background-color: #80969e;
  padding: 2.5rem;
}
.header > .container > p {
  font-size: 1.5rem;
  width: 65%;
  text-align: start;
}
.header > .container > p > span {
  color: white;
  background-color: orange;
}
